<%= render 'shared/page_title', title: 'Log in'%>

<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
  <div class="form-group-row">
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: "Enter your email address", autofocus: :true %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "Enter your password", autofocus: :true %>
    </div>

    <div class="form-group">
      <%= f.submit 'Log in', class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>
  </div>
<% end %>

<div class="center">
  [ <%= link_to "Don't have an account? Click to register", signup_path %>]
</div>