<% obj.each do |chef|%>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
      </section>
    </div>

    <div class="col-md-8 well">
      <%= link_to gravatar_for(chef, size: 120), chef_path(chef) %>
      <h4><%= link_to chef.name.capitalize, chef_path(chef) %></h4>
      <p><%= pluralize(chef.recipes.count, "recipe") if chef.recipes.count > 0 %></p>
      <p><%= link_to 'Delete this chef', chef_path(chef), method: :delete,
              data: {confirm: "Are you sure?"} if logged_in? && current_chef.admin? && !chef.admin? %></p>
    </div>
  </div>
  <br/>
<% end %>