<%= render 'shared/errors', obj: @chef %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@chef, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group-row">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "Write your name", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", placeholder: "Write your email address", autofocus: :true %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control", placeholder: "Write your password", autofocus: :true %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm password" %>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password", autofocus: :true %>
        </div>

        <div class="form-group">
          <%= f.submit(@chef.new_record? ? "Create account" : "Update account",
           class: "btn btn-primary btn-lg btn-xlarge") %>
        </div>
      </div>
    <% end %>

    <div class="center">
      [ <%= link_to "Return to home", root_path %>]
    </div>
  </div>
</div>