<%= render 'shared/page_title', title: "List of Chefs" %>

<div class='d-flex justify-content-center'><%= will_paginate %></div>
<%= render 'chefs', obj: @chefs %>
<div class='d-flex justify-content-center'><%= will_paginate %></div>
