<%= render 'shared/page_title', title: "Chef #{@chef.name}'s profile" %>
<div class="center">
  <%= gravatar_for @chef, size: 150 %>
</div>
<br/>
<% if @chef.recipes.count > 0 %>
  <h4 align="center"><%= @chef.name.capitalize %>'s recipes</h4>
  <br/>
  <div class='d-flex justify-content-center'><%= will_paginate @chef_recipes %></div>
    <%= render 'recipes/recipe', obj: @chef.recipes %>
  <div class='d-flex justify-content-center'><%= will_paginate @chef_recipes %></div>
<% else %>
  <h4 align="center">No recipes yet</h4>
<% end %>
