<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group-row">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control", placeholder: "Write your recipe", rows: 7 %>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cb| %>
                <% cb.label(class: "checkbox-inline input-checkbox") { cb.check_box(class: "checkbox") + cb.text } %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-primary btn-lg btn-xlarge", value: "Submit"%>
        </div>
      </div>
    <% end %>

    <div class="center">
      [ <%= link_to "Return to recipes list", recipes_path %>]
    </div>
  </div>
</div>