<% obj.each do |recipe|%>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
        <%= gravatar_for(recipe.chef, size: 120) %>
      </section>
    </div>

    <div class="col-md-8 well">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= truncate(recipe.description, length: 150) %></p>

      <% if recipe.ingredients.any? %>
        <p>Ingredients: <%= render recipe.ingredients %></p>
      <% end %>

      <p>
        <span class="quiet">
          <small>Created <%= time_ago_in_words(recipe.created_at) %> ago by <%= recipe.chef.name.capitalize %>
          | <%= pluralize(recipe.comments.count, 'Comment') %></small>
        </span>
      </p>
      <% if logged_in? && (recipe.chef == current_chef || current_chef.admin?) %>
        <div class="recipe-actions">
          <%= render 'shared/recipe_actions', obj: recipe %>
        </div>
      <% end %>
    </div>
  </div>
  <br/>
<% end %>