<%= render 'shared/page_title', title: "List of all Recipes" %>

<div class='d-flex justify-content-center'><%= will_paginate %></div>
  <%= render 'recipes/recipe', obj: @recipes %>
<div class='d-flex justify-content-center'><%= will_paginate %></div>
