<%= render 'shared/page_title', title: @recipe.name %>

<div class="well col-md-offset-4">
  <h4 class="center description"><strong>Steps: </strong></h4>
  <hr/>

  <div align="left">
    <%= simple_format(@recipe.description) %>
    <% if @recipe.ingredients.any? %>
      <p>Ingredients: <%= render @recipe.ingredients%></p>
    <% end %>
    <hr/>
    
    <div class="center"> <em>Created by:</em>
      <p>
        <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
      </p>
      <small><%= @recipe.chef.name.capitalize %></small>
    </div>
  </div>
  
  <div align="right">Created: <%= time_ago_in_words(@recipe.created_at) %> ago</div>

  <div class="recipe-actions">
    <% if logged_in? && (@recipe.chef == current_chef || current_chef.admin?) %>
      <%= render 'shared/recipe_actions', obj: @recipe%>
    <% end %>
    <%= link_to 'Return to recipes list', recipes_path, class: 'btn btn-xs btn-primary'%>
  </div>
</div>
<br/>

<% if logged_in? %>
  <div class="row">
    <br/>
      <div class="col-md-12">
        <%= form_for([@recipe, @comment], :html => {class: "form-horizontal", role: "form"}) do |f| %>
          <div class="form-group-row">
            <div class="form-group">
              <%= f.label :description, 'Comment' %>
              <%= f.text_area :description, class: "form-control", placeholder: "Enter comment", rows: 5 %>
            </div>

            <div class="form-group">
              <%= f.submit class: "btn btn-primary btn-lg btn-xlarge", value: "Submit comment"%>
            </div>
          </div>
        <% end %>
      </div>
    <br/>
  </div>
<% end %>

<% if @recipe.comments.count > 0 %>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <h3>Comments: </h3>
      <div id="messages">
        <%= render partial: 'comments/comments', object: @comments %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>No comments yet</h3>
    </div>
  </div>
<% end %>