<% if obj.errors.any? %>
  <div class="card bg-danger">
    <h2 class="panel-title">
      <%= pluralize(obj.errors.count, 'error') %>
      stopped this <%= obj.class %> from being saved:
    </h2>

    <div class="panel-body">
        <ul>
          <% obj.errors.full_messages.each do |msg|%>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  </div>
<% end %>