<%= link_to 'Edit this recipe', edit_recipe_path(obj), class: 'btn btn-xs btn-warning' %>
      <%= link_to 'Delete this recipe', recipe_path(obj), method: :delete, 
                                                              data: { confirm: 'Are you sure?'},
                                                              class: 'btn btn-xs btn-danger' %>