<%= render 'shared/errors', obj: @ingredient %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@ingredient, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group-row">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "Name of ingredient", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.submit(@ingredient.new_record? ? "Add new ingredient" : "Update ingredient", class: "btn btn-primary btn-lg btn-xlarge")%>
        </div>
      </div>
    <% end %>

    <div class="center">
      [ <%= link_to "Return to main page", root_path %>]
    </div>
  </div>
</div>