<% obj.each do |ingredient|%>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
      </section>
    </div>

    <div class="col-md-8 well">
      <h4><%= link_to ingredient.name.capitalize, ingredient_path(ingredient) %></h4>
      <p><%= pluralize(ingredient.recipes.count, "recipe") if ingredient.recipes.count > 0 %></p>
      <p><%= link_to 'Edit this ingredient', edit_ingredient_path(ingredient) if current_chef && current_chef.admin? %></p>
    </div>
  </div>
  <br/>
<% end %>