<%= render 'shared/page_title', title: "Available ingredients" %>

<div class='d-flex justify-content-center'><%= will_paginate %></div>
<%= render 'ingredients', obj: @ingredients %>
<div class='d-flex justify-content-center'><%= will_paginate %></div>
