<%= render 'shared/page_title', title: "#{@ingredient.name}" %>

<% if @ingredient.recipes.count > 0 %>
  <h4 align="center">Recipes containing <%= @ingredient.name %></h4>
  <br/>
  <div class='d-flex justify-content-center'><%= will_paginate %></div>
    <%= render 'recipes/recipe', obj: @ingredient_recipes %>
  <div class='d-flex justify-content-center'><%= will_paginate %></div>

<% else %>
  <h4 align="center">No recipes yet</h4>
<% end %>
