.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('jumbotron-image.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #2caeb8;
  border-color: #000;
  border-width: 1px;
}

.btn-xlarge:hover {
  background-color: #2f8d94;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #b5dba9;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}