.row {
  background-color: #edebeb;
}

.well {
  text-align: center;
  background-color: #edebeb;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.well a {
  color: #b5dba9;
}

.well a:hover {
  color: #000;
}

.chef_info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.recipe-actions a {
  color: #fff;
}

.checkbox {
  margin-left: 0.7rem;
}