<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'MyRecepies', root_path, class: 'navbar-brand', id: 'logo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Chefs', chefs_path, class: 'nav-link' %></a>
      </li>
      <li class="nav-item">
        <%= link_to 'All recipes', recipes_path, class: 'nav-link' %></a>
      </li>

      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recipes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'New Recipe', new_recipe_path, class: 'dropdown-item' %></a>
            <%= link_to 'All recipes', recipes_path, class: 'dropdown-item' %></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ingredients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'New ingredient', new_ingredient_path, class: 'dropdown-item' if logged_in? && current_chef.admin?%></a>
          <%= link_to 'All ingredients', ingredients_path, class: 'dropdown-item' %></a>
          <div class="dropdown-divider"></div>
          <% Ingredient.all.each do |ing| %>
            <%= link_to ing.name.capitalize, ingredient_path(ing), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-5 my-sm-0 mr-sm-5" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_chef.name.capitalize %>'s profile
            <%= 'Admin' if current_chef.admin? %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Your profile', chef_path(current_chef), class: 'dropdown-item' %></a>
            <%= link_to 'Edit your profile', edit_chef_path(current_chef), class: 'dropdown-item' %></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            <%= link_to 'Logout', logout_path, method: :destroy, class: 'dropdown-item' %>
          </div>
        </li>
      <% else%>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>